@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<br />

<div>
    <NavLink href="/test-login">Test Login</NavLink>
</div>
<div>
    <NavLink href="/test-canvas">Test Canvas</NavLink>
</div>
<div>
    <NavLink href="/admin/room-info">Room Info (Admin)</NavLink>
</div>
